<nav class="navbar navbar-expand-lg navbar-dark rounded" style="background:#ff91b4">
  <div class="container-fluid">
    <%= link_to  image_tag("/contact.png",:size => "30x30")+raw("<span> Contact Apps</span>"), root_path, class:"navbar-brand" %>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Contact List", contactlists_path, class:"nav-link" %>
      </li>

    </ul>
    </div>
  </div>
</nav>
