<tr id="contactRow_<%= contactlist.id %>" style="background-color: #ffd9e5">
  <td class="align-middle"><%= contactlist.name %></td>
  <td class="align-middle"><%= contactlist.phone %></td>
  <td class="align-middle"><%= contactlist.email %></td>
  <td class="align-middle"><%= contactlist.address %></td>
  <td>
    <%= link_to raw("<i class=\"fas fa-eye\"></i>"), contactlist, class:"btn btn-info" %>
    <%= link_to raw("<i class=\"fas fa-edit\"></i>"), edit_contactlist_path(contactlist), class:"btn btn-primary", data:{ bs_toggle: 'modal', bs_target: '#editcontactmodal', remote: true} %>
    <%= link_to raw("<i class=\"fas fa-trash-alt\"></i>"), contactlist, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger", remote: true  %>
  </td>
</tr>
