<%= form_with(model: contactlist, local: false) do |form| %>
<div class="modal-body">
  <% if contactlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contactlist.errors.count, "error") %> prohibited this contactlist from being saved:</h2>

      <ul>
        <% contactlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-floating mb-3 mt-3">
      <%= form.text_field :name, class:"form-control", placeholder:"Name"%>
      <label>Name </label>
    </div>

    <div class="form-floating mb-3 mt-3">
      <%= form.text_field :phone, class:"form-control", placeholder:"Phone"%>
      <label>Phone</label>
    </div>

    <div class="form-floating mb-3 mt-3">
      <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
      <label>Email</label>
    </div>

  <div class="form-floating mb-3 mt-3">
      <%= form.text_field :address, class:"form-control", placeholder:"Address" %>
      <label class="col-lg-1 col-form-label">Address</label>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
  <%= form.submit class:"btn btn-primary float-right" %>
</div>
<% end %>
