<h1>Edit <%= @contactlist.name%> Contact </h1>

<%= render 'form', contactlist: @contactlist %>

<%= link_to 'Show', @contactlist, class:"btn btn-secondary" %>
<%= link_to 'Back', contactlists_path, class:"btn btn-primary" %>
