<table id="contactlists" class="table table-borderless">
  <thead>
    <tr style="background-color: #ff91b4">
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody class="table-striped" id="contactTable">
    <% @contactlists.each do |contactlist| %>
      <%= render 'contact_row', contactlist: contactlist %>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Contact', new_contactlist_path, class:'btn btn-primary', data:{ bs_toggle: 'modal', bs_target: '#newcontactmodal', remote: true} %>


<!-- Modal New-->
<div class="modal fade" id="newcontactmodal" tabindex="-1" aria-labelledby="newcontactmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newcontactmodalLabel">New Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="newcontactForm">
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="editcontactmodal" tabindex="-1" aria-labelledby="editcontactmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editcontactmodalLabel">Edit Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="editcontactForm">

      </div>

    </div>
  </div>
</div>
