<div style="background:#ffabc5; padding: 2rem 1rem; margin-bottom: 2rem">
  <h1 class="display-4"><%= @contactlist.name %></h1>
  <p>
    <strong>Here <%= @contactlist.name %> Contact Information</strong>
  </p>

  <p>
    <small>
      <%= @contactlist.phone %> <br>
      <%= @contactlist.email %><br>
      <%= @contactlist.address %>
    </small>
</p>
  <hr class="my-4">
  <%= link_to 'Back', contactlists_path, class:'btn btn-dark'  %>

</div>
