<% if @contactlist.errors.any?%>
  alert('Invalid Details');
<% else %>
  $("#contactRow_<%= @contactlist.id %>").replaceWith("<%= escape_javascript render('contact_row', contactlist: @contactlist) %>");
  $(".close-modal").click();
<% end %>
